<html ng-app="clothApp" dir="rtl">
    <head>

        <title>ClothApp</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
        <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
      
    </head>    

    <body ng-controller="clothCtrl">
        <div id="wrapper">
            <div id="wrapper2">
                <div id="header" class="container">
                    <div id="logo">
                        <h1>ClothApp</h1>
                        <p>find the perfect item</p>
                    </div>

                    <div id="genderMenu">
                        <ul>
                            <button class="genderButton" id="menBtn" ng-click="filterParams.gender='men'; filterItems()" ng-class="{'genderButtonMarked':filterParams.gender=='men'}">גברים</button>
                            <button class="genderButton" id="womenBtn" ng-click="filterParams.gender='women'; filterItems()" ng-class="{'genderButtonMarked':filterParams.gender=='women'}">נשים</button>
                            <button class="genderButton" id="anyGender" ng-click="filterParams.gender=''; filterItems()" ng-class="{'genderButtonMarked':filterParams.gender==''}">הכל</button>
                        </ul>
                    </div>
                </div>
                <!-- end #header -->
                <div id="banner-wrapper">
                    <h2>מצא את הפריט המושלם</h2>
                    <h3>__</h3>
                    <h3>בחר פריט</h3>
                    <div id="banner-buttons">
                        <button class="itemButton" id="bagBtn" ng-click="filterParams.type='bags-wallets'; filterItems()" ng-class="{'itemButtonMarked':filterParams.type=='bags-wallets'}"><img src="images/bag.png"></button>
                        <button class="itemButton" id="shoesBtn" ng-click="filterParams.type='shoes'; filterItems()" ng-class="{'itemButtonMarked':filterParams.type=='shoes'}"><img src="images/shoes.png"></button>
                        <button class="itemButton" id="swimsuitBtn" ng-click="filterParams.type='swimwear'; filterItems()" ng-class="{'itemButtonMarked':filterParams.type=='swimwear'}"><img src="images/swimsuit.png"></button>
                        <button class="itemButton" id="skirtBtn" ng-click="filterParams.type='skirts'; filterItems()" ng-class="{'itemButtonMarked':filterParams.type=='skirts'}"><img src="images/skirt.png"></button>
                        <button class="itemButton" id="dressBtn" ng-click="filterParams.type='dresses'; filterItems()" ng-class="{'itemButtonMarked':filterParams.type=='dresses'}"><img src="images/dress.png"></button>
                        <button class="itemButton" id="pantsBtn" ng-click="filterParams.type='pants'; filterItems()" ng-class="{'itemButtonMarked':filterParams.type=='pants'}"><img src="images/pants.png"></button>
                        <button class="itemButton" id="shirtBtn" ng-click="filterParams.type='tops'; filterItems()" ng-class="{'itemButtonMarked':filterParams.type=='tops'}"><img src="images/shirt.png"></button>
                        <button class="itemButton" id="coatBtn" ng-click="filterParams.type='coats'; filterItems()" ng-class="{'itemButtonMarked':filterParams.type=='coats'}"><img src="images/coat.png"></button>
                    </div>
                </div>
                <div id="page">
                    <div id="filter-bar">
                        <span>מחיר: </span>
                        <select name="choosePrice" ng-model="filterParams.upToPrice" ng-change="filterItems()">
                            <option ng-repeat="price in upToPriceList" value={{price.id}}>{{price.label}}</option>
                        </select>
                    </div>
                    <div id="content">
                        <div ng-repeat="item in items" class="img">
                            <a href="{{item.Webpage}}">
                            <img src=" {{item.MainImage}}">
                            <div class="desc">
                                <span><b>קסטרו</b></span>
                                <span> - {{item.Name}}</span>
                                <span class="price">{{item.Price}}₪</span>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div style="clear: both;">&nbsp;</div>
                </div>
                <!-- end #page -->
            </div>
        </div>

        <div id="footer">
            <p>Copyright (c) 2016 ClothApp.co.il. All rights reserved</p>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="filters.js"></script>
    </body>
</html>

